@charset "UTF-8";

/* Footer */
.footer-center {
  display: flex;
  justify-content: space-between; /* Spread sections evenly */
  align-items: flex-start;         /* Align all sections to top */
  margin-top: 20px;
}

.footer-section {
  flex: 1;                        /* All sections same width */
  padding: 0 20px;                /* Space between sections */
}

.footer-left {
  margin-bottom: 40px;
}

.footer {
  background-color: #fff;
  padding: 40px;
  border-top: 1px solid #ccc;
}

.footer-left h2 {
  font-size: 32px;
  font-weight: bold;
}

.natura-text {
  color: black;
}

.dot {
  color: green;
}

.footer-section p {
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-section p strong {
  font-weight: bold;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

.footer-section a {
  text-decoration: none;
  color: black;
}

.footer-section a:hover {
  color: green;
}

.footer-section i {
  margin-right: 8px;
}

.copyright-symbol {
  font-weight: bold;
}