@charset "UTF-8";
body {
	font-family: sans-serif;
	margin: 0;
	padding: 20px;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('../images/login-bg.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.register-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 25px;
    width: 400px;
    margin: 100px auto;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    position: relative;
}
h2{
	text-align: center;
}
label{
	display: block;
}

input{
	border-radius: 10px;
	width: 80%;
    max-width: 400px; 
	padding: 10px;

}
.row{
	padding: 10px;
	display: flex;
}

.birthday-input{
	width: 150px;
}
button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #449A44;
}
.form-select{
	border-radius: 10px;
	width: 80%;
    max-width: 400px; 
	padding: 10px;
}


